pushy(){

git add .
git commit -m "$1"
git push $2 $3
}

pushypub(){
git add .
git commit -m "$1"
git push $2 $3
npm publish
}

npmre (){
npm uninstall $1
npm install $1
}

killPort (){
 sudo kill -9 $(sudo lsof -t -i:$1)
}

function newpyenv {
    python -m venv ./venv
}

function usepyenv {
    source ./venv/bin/activate
}

function create-venv(){
    python -m venv $1
}

function activate-venv(){
    source ./$1/bin/activate
}

useConda (){
    source ~/anaconda3/bin/activate
    conda init
}
